html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --color1: #3d373c;
    --color2: #2f9331;
    --color3: #477385;
    --color4: #926f44;
    --color5: #8bcf21;
    --color6: #c19978;
    --color7: #83d2e4;
    --color8: #e5d29f;
    --color9: #E7E0DB;
    --close: #f71b4a;
    --font1: 'Chakra Petch', sans-serif;
    --aside: 21.5rem;
}

body {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--color1);
    color: var(--color9);
    margin: 0;
}

.Contenedor{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    /*border: 3px solid #03a1b6;
    padding: 1em;
    background: #edf8f5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75); */
}

/*------------------Nav Bar-----------------------*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.menu-title {
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 1.3rem;
}

/* .aside-menu {
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.title {
    font-family: var(--font1);
    font-weight: 700;
}

.busqueda {
    width: 30%;
    margin-right: 2.5rem;
}

ul>li {
    list-style-type: none;
}

.busqueda-select {
    transform: scale(1.05);
    transition: all 500ms ease-out;
}

.search-menu {
    max-width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.search input{
    width: 100%;
    padding: 0.5rem 2rem;
    margin-left: 2.5rem;
    font-family: var(--font1);
    font-size: 1rem;
}

.lupa  svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
}
/*------------------Nav Bar-----------------------*/

/*------------------Aside Bar-----------------------*/
.aside-api {
    z-index: 10;
    position: absolute;
    width: 21rem;
    height: 80vh;
    background-color: var(--color9);
    padding: 1rem;
    left: -21.5rem;
    top: 5.65rem;
    margin-top: -5.2rem;
    border-radius: 0.5rem;
    color: var(--color1);
    flex-direction: column;
}

#aside-api {
    overflow: hidden;
}

.menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.8rem 0 0;
    cursor: pointer;
    width: 10%;
    z-index: 10;
}

.menu {
    height: 5px;
    width: 2.3rem;
    background-color: var(--color9);
    margin: 2px 10px;
}

.menu-desplazar {
    animation-name: desplazar;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes desplazar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(var(--aside));
    }
}

.menu-volver {
    animation-name: volver;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes volver {
    0% {
        transform: translateX(var(--aside));
    }
    100% {
        transform: translateX(0rem);
    }
}

.slot-down {
    animation-name: traslate-down, rotate-down;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes traslate-down {
    0% {
        margin: 2px 10px;
    }
    100% {
        margin: -1px  10px;
        
    }
}

@keyframes rotate-down {
    0% {
        transform: rotate(0deg);
        background-color: var(--color9);
    }
    100% {
        transform: rotate(45deg);
        background-color: var(--close);
    }
}

.slot-down-back {
    animation-name: rotate-down-back;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes rotate-down-back {
    0% {
        transform: rotate(45deg);
        background-color: var(--close);
    }
    100% {
        transform: rotate(0deg);
        background-color: var(--color9);
    }
}

.slot2 {
    display: none;
} 

.slot-up {
    animation-name: traslate-up, rotate-up;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes traslate-up {
    0% {
        margin: 0px 10px;
    }
    100% {
        margin: -3px 10px;
    }
}

@keyframes rotate-up {
    0% {
        transform: rotate(0deg);
        background-color: var(--color9);
    }
    100% {
        transform: rotate(-45deg);
        background-color: var(--close);
    }
}

.slot-up-back {
    animation-name: rotate-up-back;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

@keyframes rotate-up-back {
    0% {
        transform: rotate(-45deg);
        background-color: var(--close);
    }
    100% {
        transform: rotate(0deg);
        background-color: var(--color9);
    }
}

.opacity-body {
    opacity: 0.4;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color1);
}

.icon-api {
    color: var(--color1);
    z-index: 10;
}
/*------------------Aside Bar-----------------------*/
/*----------------- Cards From API-----------------*/
.infoCards {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.api-image {
    margin-bottom: 0rem;
}
.api-name {
    margin: 0.5rem 0;
}

.api-state {
    display: flex;
    align-items: center;
}

.api-state p {
    margin:  0;
}

.alive {
    margin: 0rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    background-color: #17f502;
}
.dead {
    margin: 0rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    background-color: #f1300e;
}
.unknown {
    margin: 0rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 10px;
    background-color: #ffa500;
}
/*----------------- Cards From API-----------------*/